.table{
	border: 1px solid #eee;
	table-layout: fixed;
	width: max-content;
	margin: 20px 0;
}

th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
	position: sticky;
  left: 0;
  z-index: 1;
}

th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

th:last-child {
  position: sticky;
  right: 0;
  z-index: 2;
}
button {
	margin-left: 5px;
}